body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    background-image: url("Dhttps://arzejames.github.io/WackyDev.github.io/images/background.png");
    width: 100%;
}

h1 {
    color: #61dafb;
    text-align: center;
}

p {
    color: #ffffff;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #00bcd4;
}

.projects {
    width: 30%;
    height: 30%;
    border-radius: 8px;
}

.container {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials {
    width: 50px;
    height: auto;
    border-radius: 8px;
}
